:root{
    --nuit:#011826;
    --jaune:#FF9A16;
    --turq:#2CC1AA;
    --red:#E7174A;
    --blanc:#F7FFF2;
}

*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
    font-family: "open sans";
    
    a{
        text-decoration: none;
    }

    img{
        width: 100%;
        object-fit: cover;
    }
    h2{
        font-family: "raleway";
        font-weight: 700;
        font-size: 36px;
        justify-self: center;
    }
}

body{
    background-color: var(--nuit);
    color: var(--blanc);

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1470px;
        margin: auto;
        padding: 10px;
        #burger{
            display: none;
        }
        >a{
            color: var(--blanc);
            img{
                width: 180px;
            }
        }
        nav{
            ul{         
                padding-left: 0;
                list-style: none;
                display: flex;
                gap: 15px;
                a{
                    color: var(--jaune);
                    padding: 5px;
                    &:hover{
                        color: var(--red);
                    }
                }
                #bouton1{
                    color: var(--red);
                }
                #bouton2{
                    color: var(--blanc);
                    background-color: var(--jaune);
                    &:hover{
                        background-color: var(--red);
                    }
                }
            }
        }
    }
    footer{
        background-color: var(--turq);
        height: 52px;
        align-content: space-evenly;
        p{
            justify-self: center;
        }
    }
    main{
        padding-top: 100px;
        .s1{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            max-width: 1470px;
            margin: auto;
            img{
                height: 664px;
                object-fit: cover;
            }
            .s1d1{
                padding: 10px;
                max-width: 580px;
                h1{
                    font-family: "raleway";
                }
                p{
                    padding-top: 10px;
                }
                a{
                    background-color: var(--jaune);
                    color: var(--blanc);
                    padding: 14px;
                    display: block;
                    margin-top: 10px;
                    width: fit-content;
                    &:hover{
                        background-color: var(--red);
                    }
                }
            }
        }
        .s2{
            max-width: 1340px;
            margin: auto;
            h2{
                justify-self: center; 
                padding-top: 70px;
                padding-bottom: 50px;  
            }
            .s2gd{
                display: flex;
                align-items: center;
                padding-bottom: 90px;
                img{
                    max-height: 800px;
                    transform: translateX(100px);
                    z-index: 0;
                }
                .s2d1{
                    background-color: var(--jaune);
                    height: fit-content;
                    transform: translateX(-100px);
                    max-width: 400px;
                    padding: 25px 25px 0 25px;
                    z-index: 1;
                    p{
                        padding-top: 20px;
                    }
                    h3{
                        font-family: "raleway";
                        font-weight: 700;
                        font-size: 21px;
                    }
                    a{
                    border-style: groove;
                    border-color: var(--blanc);
                    border-width: 1px;
                    background-color: var(--nuit);
                    color: var(--blanc);
                    padding: 14px;
                    display: block;
                    margin-top: 10px;
                    width: fit-content;
                    justify-self: center;
                    transform: translateY(20px);
                    z-index: 2;
                    &:hover{
                        background-color: var(--red);
                    } 
                    }
                }
            }
            .s2gd2{
                display: flex;
                align-items: center;
                img{
                    max-height: 800px;
                    transform: translateX(-100px);
                    z-index: 0;
                }
                .s2d2{
                    background-color: var(--jaune);
                    height: fit-content;
                    transform: translateX(100px);
                    max-width: 400px;
                    padding: 25px 25px 0 25px;
                    z-index: 1;
                    p{
                        padding-top: 20px;
                    }
                    h3{
                        font-family: "raleway";
                        font-weight: 700;
                        font-size: 21px;
                    }
                    a{
                    border-style: groove;
                    border-color: var(--blanc);
                    border-width: 1px;
                    background-color: var(--nuit);
                    color: var(--blanc);
                    padding: 14px;
                    display: block;
                    margin-top: 10px;
                    width: fit-content;
                    justify-self: center;
                    transform: translateY(20px);
                    z-index: 2;
                    &:hover{
                        background-color: var(--red);
                    } 
                    }
                }
            }
        }
        .s3{
            max-width: 1410px;
            margin: auto;
            padding: 15px;
            padding-top: 80px;
            h2{
                justify-self: center;
                padding-bottom: 40px;
            }
            .s3gd{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                .s3d1{
                    gap: 20px;
                    display: flex;
                    flex-direction: column;
                    flex: 0 0 48%;
                    >details{
                        background-color: var(--blanc);
                        color: var(--jaune);
                        padding-top: 15px;
                        padding-bottom: 15px;
                        height: fit-content;
                        &::details-content{
                            color: var(--nuit);
                        }
                        ul{
                            padding-top: 15px;
                            padding-bottom: 8px;
                        }
                        summary{
                            text-decoration: underline;
                            text-underline-position: under;
                            text-decoration-color: red;
                            list-style: none;
                            padding-left: 15px;
                            &:hover{
                                color: var(--red);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .s4{
            max-width: 1410px;
            padding: 15px;
            margin: auto;
            .s4d1{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 90px;
                padding-top: 90px;
                a{
                    border-style: groove;
                    border-color: var(--blanc);
                    border-width: 1px;
                    background-color: var(--nuit);
                    color: var(--blanc);
                    padding: 14px;
                    display: block;
                    margin-top: 10px;
                    width: fit-content;
                    justify-self: center;
                    &:hover{
                        background-color: var(--red);
                    } 
                }
            }
            .s4d2{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 40px;
                padding-bottom: 40px;
                :nth-child(1) .s4d4::after, :nth-child(2) .s4d4::after{
                    content: "Front-end";
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    color: var(--blanc);
                    background-color: var(--nuit);
                    padding: 5px;
                }
                :nth-child(3) .s4d4::after{
                    content: "Back-end";
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    color: var(--blanc);
                    background-color: var(--nuit);
                    padding: 5px;
                }
                article{
                    .s4d3{
                        background: #FF9A16;
                        background: linear-gradient(0deg,rgba(255, 154, 22, 1) 0%, rgba(231, 23, 74, 1) 100%);
                        padding-left: 2px;
                        padding-right: 2px;
                    }
                    .s4d4{
                        background-color: var(--nuit);
                        padding: 15px;
                        position: relative;
                        img{
                            height: 180px;
                            position: relative;
                        }
                        h3{
                            font-family: "raleway";
                            font-weight: 700;
                            font-size: 21px;
                            padding-top: 15px;
                            padding-bottom: 20px;
                        } 
                    }
                    a{
                        border-style: groove;
                        border-color: var(--blanc);
                        border-width: 1px;
                        background-color: var(--nuit);
                        color: var(--blanc);
                        padding: 14px;
                        display: block;
                        margin-top: 10px;
                        width: fit-content;
                        margin-left: 15px;
                        &:hover{
                            background-color: var(--red);
                        } 
                    }
                }
            }
        }
    }
    .modale{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 35%;
        align-items: center;
        justify-content: center;
        transition: all .4s;
        background-color: rgba(0, 0, 0, 0.421);
        z-index: 5;
        &:target{
            visibility: visible;
            opacity: 1;  
        }
        a{
            background-color: var(--red);
            color: #011826;
            display: block;
            width: fit-content;
            justify-self: end;
        }
        form{
            display: grid;
            position: relative;
            width: 300px;
            background-color: var(--blanc);
            padding: 15px;
            h2{
                color: var(--nuit);
                font-size: 24px;
                padding-bottom: 15px;
            }
            label{
                background-color: var(--jaune);
                color: var(--nuit);
                padding: 10px;
                font-weight: 600;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            button{
                border-style: groove;
                border-color: var(--blanc);
                border-width: 1px;
                background-color: var(--nuit);
                color: var(--blanc);
                padding: 14px;
                display: block;
                margin-top: 10px;
                width: stretch;
                justify-self: center;
                &:hover{
                    background-color: var(--red);
                } 
            }
        }
    }
}

@media screen and (max-width :1024px) {
    body{
        header{
            nav{
                display: none;
            }
            #burger{
                display: flex;
            }
        }
        main{

            .s1{
                grid-template-columns: 1fr;
                img{
                    width: 70%;
                    justify-self: center;
                    height: auto;
                }
            }
            .s2{
                .s2gd{
                    img{
                        width: 70%;
                    }
                }
                .s2gd2{
                    img{
                        width: 70%;
                    }
                }
            }
            .s4{
                .s4d2{
                    grid-template-columns: 1fr 1fr;
                    article:nth-child(3){
                        grid-column: 1 / -1;
                    }
                }
            }
        }
    }   
}
@media screen and (max-width :767px) {
    body{
        main {
            .s2{
                .s2gd{
                    flex-direction: column;
                    justify-items: center;
                    .s2d1{
                        transform: translateX(0);
                    }   
                    img{
                        transform: translateX(0);
                    }
                }
                .s2gd2{
                    flex-direction: column-reverse;
                    justify-items: center;
                    .s2d2{
                        transform: translateX(0);
                    }
                    img{
                        transform: translateX(0);
                    }
                }
            }
            .s3{
                .s3gd{
                    display: grid;
                }
            }
            .s4{
                .s4d2{
                    grid-template-columns: 1fr;

                }
            }
        }
    }
}

body{
    header nav ul li{
        opacity: 0;
        transform: translateY(40px);
        animation: fadein3 1s forwards;
        &:nth-child(1) { animation-delay: 0.2s; }
        &:nth-child(2) { animation-delay: 0.4s; }
        &:nth-child(3) { animation-delay: 0.6s; }
        &:nth-child(4) { animation-delay: 0.8s; }
        &:nth-child(5) { animation-delay: 1s; }
        &:nth-child(6) { animation-delay: 1.2s; }
    }
    main{
        .s1{
            img{
                opacity: 0;
                transform: scale(0.1);
                animation: fadein1 1s forwards;
                animation-delay: 1.4s
            }
            .s1d1{
                opacity: 0;
                transform: translateY(50px);
                animation: fadein2 1s forwards;
                animation-delay: 1.2s
            }
        }

    }
}
@keyframes fadein1{
    to{
        transform:scale(1);
        opacity: 1;
    }
}
@keyframes fadein2{
    to{
        transform:translateY(0);
        opacity: 1;
    }
}
@keyframes fadein3{
    to{
        transform:translateY(0);
        opacity: 1;
    }
}